body {
  font-family: 'Noto Sans JP', 'Noto Sans KR', 'Roboto', sans-serif;
  background-color: #F8F8FB;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.article-container {
  margin: 0 auto;
  width: 720px;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}

.navbar-title {
  color: #292B2E;
  font-size: 1rem;
  font-weight: 700;
}

/* Order Receipt */
.order-receipt {
  position: relative;
}

.order-receipt-header {
  height: 262px;
  border-radius: 0.5rem;
  padding: 2rem;
  background: linear-gradient(156deg, #bfebff -21.92%, #f9eef8 53.4%, #ffccb0 131.92%);
}

.receipt-header-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 451px;
}

.receipt-header-text {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.receipt-slogan {
  color: #292B2E;
  font-weight: 400;
  font-size: 1rem;
}

.receipt-title {
  display: flex;
  flex-direction: column;
  font-size: 26px;
}

.receipt-title-customer {
  color: #E6485C;
  font-weight: 500;
}

.receipt-title-text {
  color: #292B2E;
  font-weight: 700;
}

.receipt-subtitle {
  color: #292B2E;
  font-size: 1rem;
  font-weight: 400;
}

.receipt-subtitle b {
  font-weight: 700;
}

.receipt-icon {
  position: absolute;
  top: 5rem;
  right: 50px;
  z-index: 1;
}

.wavy-divider {
  position: absolute;
  top: 10rem;
  width: 100%;
}

.receipt-body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.receipt-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.summary-label {
  font-weight: 400;
  font-size: 1rem;
  color: #56575A;
}

.summary-total {
  font-weight: 500;
  font-size: 26px;
  color: #292B2E;
}

.summary-paid-date {
  font-weight: 400;
  font-size: 1rem;
  color: #292B2E;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #E4E6EA;
}

.order-number-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.order-number-label {
  font-weight: 400;
  font-size: 1rem;
  color: #292B2E;
}

.order-number-value {
  font-weight: 400;
  font-size: 1rem;
  color: #292B2E;
}

/* Order Summary */
.order-summary-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.order-summary-title {
  color: #292B2E;
  font-weight: 500;
  font-size: 26px;
}

.line-items-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.line-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.line-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line-item-name {
  color: #292B2E;
  font-weight: 700;
  font-size: 1rem;
}

.line-item-price {
  color: #292B2E;
  font-weight: 700;
  font-size: 1rem;
}

.price-modifiers {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.price-modifier-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.price-modifier-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-modifier-label {
  color: #292B2E;
  font-weight: 400;
  font-size: 1rem;
}

.price-modifier-value {
  color: #292B2E;
  font-weight: 400;
  font-size: 1rem;
}

.totals-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-label {
  font-weight: 400;
  color: #292B2E;
  font-size: 0.875rem;
}

.total-value {
  font-weight: 400;
  color: #292B2E;
  font-size: 1rem;
}

.grand-total-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grand-total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grand-total-label {
  font-weight: 500;
  color: #292B2E;
  font-size: 26px;
}

.grand-total-value {
  font-weight: 500;
  color: #292B2E;
  font-size: 26px;
}

.savings-text {
  font-weight: 400;
  color: #56575A;
  font-size: 1rem;
  align-self: flex-end;
}

.contact-text {
  font-weight: 400;
  color: #56575A;
  font-size: 1rem;
}

.contact-text b {
  color: #292B2E;
}

/* Order Information */
.order-info-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.order-info-title {
  color: #292B2E;
  font-weight: 500;
  font-size: 26px;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-section-title {
  font-weight: 700;
  color: #292B2E;
  font-size: 1rem;
}

.info-section-details {
  display: flex;
  flex-direction: column;
}

.info-text {
  color: #56575A;
  font-weight: 400;
  font-size: 1rem;
}

/* Need Help */
.need-help-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.need-help-title {
  font-weight: 700;
  color: #292B2E;
  font-size: 1rem;
}

.need-help-text {
  font-size: 1rem;
  font-weight: 400;
  color: #292B2E;
  width: 430px;
  text-align: center;
}

.need-help-text a {
    text-decoration: underline;
}

.need-help-text a strong {
    font-weight: 700;
}

/* Footer */
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-column-gap {
    gap: 0.5rem;
}

.social-buttons {
  display: flex;
  flex-direction: row;
}

.social-button {
  padding: 12px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.address-text {
  color: #56575A;
  font-weight: 400;
  font-size: 1rem;
}

.footer-contact-title {
  font-weight: 700;
  color: #292B2E;
  font-size: 1rem;
}

.footer-contact-text {
  color: #56575A;
  font-weight: 400;
  font-size: 1rem;
}

.footer-link {
  text-decoration: underline;
  color: #56575A;
  font-weight: 400;
  font-size: 1rem;
}

.footer-phone {
  color: #292B2E;
  font-weight: 700;
  font-size: 1rem;
}

.footer-email-link {
    text-decoration: underline;
    color: #56575A;
    font-weight: 400;
    font-size: 1rem;
}

.footer-column-end {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
}
